PORT=8001
DATABASE_URL=postgresql://jervi:jervi175@localhost:5432/dropjdid
APP_URL=http://localhost:8001
STORAGE_DISK=public
STORAGE_PATH=/var/www/media.dropjdid.com
STORAGE_PUBLIC_URL=https://media.dropjdid.com